<!DOCTYPE html>

<div class="col-sm-4" />
<div class="col-sm-4">
    <form id="formLogin" name="formLogin" ng-submit="doLogin(user)" novalidate >
        <div class="row">
            <div class="form-group" ng-class="{'has-error' : formLogin.login.$invalid}">
                <input type="text" class="form-control input-lg" placeholder="Login" autofocus ng-model="user.login" id="login" name="login" required
                       uib-tooltip="{{MESSAGE_REQUIRED}}" tooltip-enable="formLogin.login.$invalid" />
            </div>

            <div class="form-group" ng-class="{'has-error' : formLogin.passw.$invalid}">
                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="user.passw" id="passw" name="passw" required 
                       uib-tooltip="{{MESSAGE_REQUIRED}}" tooltip-enable="formLogin.senha.$invalid" />
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary" ng-disabled="formLogin.$invalid">Login</button>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-4" />

<script>
$(function() {
    setTimeout(function() {
        cursorToEnd($("#login"));
    }, 300);
});
</script>