/* ------------------------ Default ------------------------ */

a[href], input[type='submit'], input[type='image'], input[type="checkbox"], input[type="radio"], label[for], select, button, .pointer {
    cursor: pointer;
}

/* ------------------------ Class ------------------------ */

/* ------------------------ Id ------------------------ */

#formLogin {
    border-radius: 15px;
    border: solid;
    border-width: 1px;
    border-color: black;
	padding: 20px 30px 0px 30px;
    margin-top: 100px;  
}

/* ------------------------ AngularJS ------------------------ */

/* Hide Angular JS elements before initializing */
.ng-cloak {
    display: none;
}

/* ------------------------ UI Bootstrap ------------------------ */

.modal-content {
    width: 600px;
}

.modal-header h3 {
    color: white;
}

.modal-header-info {
    background-color: #5bc0de;
}

.modal-header-danger {
    background-color: #d9534f;
}

.modal-header-warning {
    background-color: #f0ad4e;
}

.modal-open {
    overflow: auto;
}

.panel-body {
    padding: 15px 15px 0px 15px;
}

.panel-group {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}
