<!DOCTYPE html>
<html ng-app="app" ng-cloak="">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<meta http-equiv="Content-Language" content="en"></meta>
		<title>Manager Finances</title>
		
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- The same above
        <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        -->
        <link href="css/load.css" rel="stylesheet" type="text/css" />
        <link href="css/app.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
        <script type="text/ng-template" id="modalMessage.html">
            <div class="modal-header" ng-class="{'modal-header-danger': (type === MODAL_MESSAGE.DANGER), 'modal-header-info': (type === MODAL_MESSAGE.INFO), 'modal-header-warning': (type === MODAL_MESSAGE.QUESTION)}">
                <h3 class="modal-title" ng-if="type === MODAL_MESSAGE.DANGER">Error</h3>
                <h3 class="modal-title" ng-if="type === MODAL_MESSAGE.INFO">Information</h3>
                <h3 class="modal-title" ng-if="type === MODAL_MESSAGE.QUESTION">?</h3>
            </div>
            <div class="modal-body">
                <span>{{message}}</span>
            </div>
            <div class="modal-footer" ng-if="type !== MODAL_MESSAGE.QUESTION">
                <button class="btn btn-primary" type="button" ng-click="close()"
                    ng-class="{'btn-danger': (type === MODAL_MESSAGE.DANGER), 'btn-info': (type === MODAL_MESSAGE.INFO)}">OK</button>
            </div>
            <div class="modal-footer" ng-if="type === MODAL_MESSAGE.QUESTION">
                <button class="btn btn-success" type="button" ng-click="yes()">Yes</button>
                <button class="btn btn-danger" type="button" ng-click="no()">No</button>
            </div>
        </script>  
        
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" ng-if="loggedUser">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <span class="navbar-brand">Manager Finances</span>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse" ng-if="loggedUser">
                        <ul class="nav navbar-nav navbar-left">    
    					</ul>
                        
                        <ul class="nav navbar-nav navbar-right">
	                        <li ng-click="logoff()"><a>Sign out <span class="glyphicon glyphicon-off"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>            
        </header>  
        
        <div class="container-fluid">
            <div ng-view/>
        </div>
        
        <div class="loading" ng-show="loading" style="z-index: 9999">Loading&#8230;</div>
         
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-animate.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-touch.min.js"></script>
        <!-- The same above 
        <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="webjars/angularjs/1.6.4/angular.min.js"></script>
        <script src="webjars/angularjs/1.6.4/angular-route.min.js"></script>
        <script src="webjars/angularjs/1.6.4/angular-animate.min.js"></script>
        <script src="webjars/angularjs/1.6.4/angular-touch.min.js"></script>
        -->
        <script src="webjars/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>		
	</body>
</html>